.contenedor_cambio_theme{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.cambio-theme {
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 6px 4px #cecece, inset -4px -4px 6px #cecece;
    border-radius: 10px;
    cursor: pointer;   
}

.buttom-theme {
    position: absolute;
    transform: scale(.8);
    width: 40px;
    height: 40px;
    background-color: #193073;
    border-radius: 25px;
    box-shadow: 3px 4px 3px #c4c4c4, -3px -2px 4px white;
}

.theme-dark img {
    position: absolute;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    transform: scale(0.8);
    top: 0;
    left: 0;
}

.theme-light img {
    position: absolute;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    transform: scale(0.8);
    top: 0;
    right: 0;
}
/*activacion del thema*/
#cambio-theme.active .buttom-theme {
    background-color: white;
    animation: DarkON 0.5s;
    left: 40px;
}

@keyframes DarkON {
    from {
        left: 0px;
    }

    to {
        left: 40px;
    }
}

#cambio-theme.desactive .buttom-theme {
    background-color: darkblue;
    animation: LightON 0.5s;
    right: 0px;
}

@keyframes LightON {
    from {
        right: 40px;
    }

    to {
        right: 0px;
    }
}