@import url('../css/ColoresWeb.css');
*{
    margin: 0;
    padding: 0;
}
/*definir colores*/
.header{
    border-bottom: 1px solid var(--header-background-color-dark);
    background-color: var(--header-background-color-dark);
    box-shadow: 0px 0px 10px 0px var(--background-login-buttom-dark);  
    
}
.contenedor_header{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 15px;
    padding-bottom:15px ;
    box-sizing: border-box;   
}
ul{
    list-style: none;
}
/*contenedor 1*/
.contenedor_headar_1{
    margin-top: auto;
    margin-bottom: auto;
}
.titulo a{
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--color-letra-dark);
}
/*contenedor 2*/
.contenedor_headar_2{
    margin-top: auto;
    margin-bottom: auto;
}
.lista_menu_header {
    display: flex;
    gap: 20px;
}
.lista_menu_header a{
    font-size: 1rem;
    text-decoration: none;
    color: var( --color-letra-dark);
}
/*contenedor 3*/
.contenedor_headar_3{
    margin-top: auto;
    margin-bottom: auto;
}
.acceso_usuario {   
    display: flex;
    gap: 20px;
}
.acceso_usuario a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-letra-dark);
    background-color: var(--background-color-acceso-usuario-dark);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.acceso_usuario a:last-child{
    display: none;
}
.acceso_usuario_registrado a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-acceso-usuario);
    background-color: var(--background-color-acceso-usuario);
    padding: 10px 20px;
    border-radius: 5px;
}
/*dark theme*/

/*responsive*/
@media (max-width:800px){
    .contenedor_headar_2{
        display: none;
    }
    .acceso_usuario a:last-child{
        display: block;
    }
}
@media (max-width:550px){
    .acceso_usuario a:nth-child(1){
        display: none;
    }
    .acceso_usuario a:nth-child(2){
        display: none;
    }
    .acceso_usuario_registrado a:nth-child(1){
        display: none;
    }
}
@media (max-width:300px){
    .header{
        width: 300px;
    }
}