* {
    margin: 0;
}

ul {
    list-style-type: none;
}

/*header  dashboard*/
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    border-bottom: 1px solid black;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo_header span {
    font-size: 30px;
}

.titulo_header a {
    font-size: 40px;
    display: none;
}

.DisplayNone a {
    display: contents;
}

.headerOpen {
    margin-left: 230px;
}

.header_admin_1 {
    margin-top: auto;
    margin-bottom: auto;
}

.header_admin_2 {
    display: flex;
}

.header_admin_2 div {
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor_reportes_admin {
    display: flex;
    margin-right: 20px;
}

.contenedor_reportes_admin a,
li {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: black;
}



/*barra lateral opciones administrador*/
.barra_lateral_administrador {
    position: fixed;
    width: 100px;
    height: 100%;
    border-right: 1px solid black;
    top: 0;
    left: 0;
    overflow: auto;

}

.EsconderBarra {
    width: 230px;
    animation: animacionEsconderBarra 8s;
}




@keyframes animacionEsconderBarra {
    from {
        right: 100px;
        opacity: 1;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

.titulo_barra_lateral {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}


.titulo_barra h1 {
    display: none;
}

.tituloBarra h1 {
    display: contents;
}

.tituloBarraBtn a {
    display: none;
}

.opciones_administrador span {
    display: none;
}

.MostrarOpciones span {
    display: contents;
}

.titulo_barra a {
    display: block;
    font-size: 40px;
}

.opciones_administrador {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;

}

.opciones_administrador a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #0088ff;
}

a {
    cursor: pointer;
}


.opciones_administrador i {
    font-size: 20px;
}

/*responsive*/
.barra_responsive a {
    color: black;
    font-size: 30px;
    display: none;
}

@media only screen and (max-width:780px) {
    .responsive_none {
        display: none;

    }

    .barra_responsive a {
        display: block;
    }

}