* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*varaible*/
:root {
    /*color original*/
    --BackGround-color-header: #222b45;
    --Letra-Color-header: rgba(231, 231, 231, 0.867);
    --Letra-color-Usuario: white;
    --Background-color-Usuario: rgb(104, 104, 104);
    --Backgroud-color-usuario-hover: rgb(151, 151, 151);
    /*dark color*/

}

ul {
    list-style-type: none;
}

/*header */
body{
    background-color: var( --BackGround-color-header);
}
.header {
    border-bottom: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 0px 10px 0px rgb(176, 176, 176);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color:#1A2138;
}

.contenedor_header {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

/*header 1*/

.logo_header {
    margin-top: auto;
    margin-bottom: auto;
}
.logo_header a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/*header 2*/
.menu_header {
    margin-top: auto;
    margin-bottom: auto;
}

.lista_menu_header {
    display: flex;
    gap: 20px;


}

.lista_menu_header a {
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-size: 1rem;

}

/*header 3*/

.usuario_datos {
    display: flex;
    gap: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.usuario_datos a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    background-color: #222b45;
    padding: 10px 20px;
    border-radius: 5px;
}

.usuario_datos a:last-child {
    display: none;
}
/*redes sociales*/
.redes_sociales{
    position: fixed;
    top: 40%;
    right:20px;
}
.menu_redes_sociales a{          
    display: block;
    color: black;
    font-size: 2rem;
    margin-bottom: 15px;
   
}
.menu_redes_sociales a:hover{
    color: #bababa;
    transition: 0.5s;
   
}
/*responsive*/
@media (max-width:930px) {
    .menu_header {
        display: none;
    }

    .usuario_datos a:last-child {
        display: block;
    }
}

@media (max-width:590px) {
    .usuario_datos a:nth-child(1) {
        display: none;
    }

    .usuario_datos a:nth-child(2) {
        display: none;
    }

}

@media (max-width:300px) {
    .contenedor_header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo_header img {
        width: 100%;
    }
}