.contenedor_atributos{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgba(233, 233, 233, 0.1);
}
.opciones_elemtos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.elemento_atributo{
    width: 350px;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #ddd;
    cursor: pointer;
}
.elemento_atributo:hover{
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0px 0px 15px 0px rgb(173, 173, 173);
    transition: 1.5s;
   
}
.elemento_atributo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.titulo_atributos{
}
.titulo_atributos a{
    font-size: 2.3rem;
}
.elemento_atributo a{
    font-size: 1.5rem;
}
.elemento_atributo p{
    font-size: 1.1rem;
}