*{

}
.respuesta{
 border: 1px solid #ddd;
width: 300px;
margin-left: auto;
   margin-right: auto;
   height: 30px;
}
.respuesta::target-text{
    border: 1px solid #ddd;
}
.body-calculadora{
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   border: 1px solid black;
   padding: 10px 20px;
   background-color: rgb(255, 196, 0);
}
.btn input{
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.btn-calculadora div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}